/* label{
  color:blue;
  border: 3px solid #73AD21;
}
input{
  background-color: aquamarine;
  color: blueviolet;

}
select,option{
  color:blue;
  background-color: bisque;
}
button{
  font-weight:bold ;
  color: aliceblue;
  background-color:green;
} */

