<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="left-side">
                    <div class="text-dark">
                       <h1>Fly8 Buddy</h1>
                    </div>
                    
                    <div class="page-direction-button">
                        <a href="#"><i class="fa fa-plane"></i>Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <app-search-flight></app-search-flight>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; 2023 Fly8 Buddy</p>
            </div>
        </div>
    </div>
</footer>